{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": { "node": 16 },
                "modules": "commonjs"
            }
        ]
    ],
    "env": {
        "test": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "targets": { "node": "current" },
                        "modules": "commonjs"
                    }
                ]
            ]
        }
    }
}
